# Dependencies & Build-Artefakte (werden im Container gebaut)
**/node_modules
**/static
**/__pycache__
**/*.pyc

# Lokale Konfiguration
**/.env
**/.env.*
!**/.env.example

# Entwicklungsdateien
**/.git
**/.vscode
**/Dockerfile
**/.dockerignore
**/README.md
**/docs
